// Colors
$black: #252626;
$white: #fafafa;

// Primary
$primary: #42a5f5;

$primary-60: #1e88e5;
$primary-50: #2196f3;
$primary-40: $primary;
$primary-30: #64b5f6;
$primary-20: #90caf9;

$primary-light: #80d6ff;
$primary-dark: #0077c2;

// Secondary palette
$secondary: #c0ca33;

$secondary-60: #9e9d24;
$secondary-50: #afb42b;
$secondary-40: $secondary;
$secondary-30: #cddc39;
$secondary-20: #d4e157;

$secondary-light: #f5fd67;
$secondary-dark: #8c9900;

// Succcess pallete
$success: #4caf50;

$success-60: #388e3c;
$success-50: #43a047;
$success-40: $success;
$success-30: #66bb6a;
$success-20: #81c784;

$success-light: #80e27e;
$success-dark: #087f23;

// Danger palette
$danger: #ef5350;

$danger-60: #e53935;
$danger-50: #f44336;
$danger-40: $danger;
$danger-30: #e57373;
$danger-20: #ef9a9a;

$danger-light: #ff7961;
$danger-dark: #ba000d;

// Warning palette
$warning: #fdd835;

$warning-60: #f9a825;
$warning-50: #fbc02d;
$warning-40: $warning;
$warning-30: #ffeb3b;
$warning-20: #ffee58;

$warning-light: #ffff6b;
$warning-dark: #c6a700;
