/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
html,
body {
  height: 100%;
}

* {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

body.dark-theme {
  background-color: $black;
}

// body {
//   display: grid;
//   grid-template-rows: auto 1fr;
// }

// div.component-container {
//   border-radius: 5px;
//   border: 1px solid lightblue;
//   display: flex;
//   align-items: center;
//   margin: 10px 20px 10px 20px;
//   padding: 10px;
//   width: 80%;
// }
